<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">


<div class="toolbar" role="banner">

    <div id="logo" width="101.678" height="101.678" viewBox="0 0 101.678 101.678">
    
          <img
          width="60" height="50"
          alt="Angular Logo"
          src="https://images.purevpn-tools.com/public/images/PL-Right-image.png"/>

    </div>
    <span>Welcome to the Premier League ! </span>
  </div>

<router-outlet></router-outlet>





    

  






